@using Microsoft.AspNetCore.Mvc.Localization;
@using Textanalyse.Data.Data;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer Localizer

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localizer["Logged In!"]</title>
</head>
<body>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>@Localizer["Logged in with Google!"]</h4>

            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                <form method="post" action="/account/logout">
                    <button type="submit" name="provider" value="@loginProviders[0].Name">@Localizer["Log Out"]</button>
                </form>
            }

        </section>
    </div>

    <form method="post" action="/textSave">
        <input type="text" name="text" id="text"/>
        <button type="submit" name="SaveButton" id="SaveButton" >@Localizer["Save"]</button>
    </form>

    <form method="post" action="/summary">
        <button type="submit" name="SummaryButton" id="SummaryButton">@Localizer["Summary"]</button>
    </form>

    <form method="get" id="searchForm" action="/search">
        <div>
            <input type="text" id="searchText" name="searchterm" />
            <input type="submit" id="searchButton" value=@Localizer["Search"] />
        </div>
    </form>

    @if (TempData["result"] != null)
    {
        <p>@TempData["result"]</p>
    }

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <environment include="Development">
        <script src="https://apis.google.com/js/plattform.js" async defer></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
